.App {
  font-family: "arial";
  text-align: center;
  height: 1000px ;
  width: auto;
  background-color: grey;
  position: relative;
  z-index: 3;
}

.welcome {
  margin-top: 50px;
  color: white;
  font-family: "arial";
}

.App-body {
  height: 100%;
  display:  flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  color: white;
  left: 0;
  z-index: 4;
  background-color: rgba(48, 48, 48, .5);
}

.headertext {
  text-align: center;
  font-size: calc(3px + 2vmin);
}

.text {
  text-align: center;
  font-size: calc(1px + 2vmin);
}
.watchlist {
  text-align: left;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  color: black;
  border: 5px solid;
  border-color: grey;
  font-size: calc(1px + 2vmin);
}

.searchBar {
  margin-top:  70px;
  background-color: white;
  border: 2px solid grey;
  font-family: "arial";
  width: 50%;
  height: 3.5vh;
  font-size: 20px;
}

.buttonSize {
  margin-left: 20px;
  font-family: "arial";
  width: 8%;
  background-color: lightgrey;
  color: black;
  font-size: 15px;
}
