.App {
  font-family: "arial";
  text-align: center;
  height: 1080px  ;
  background-color: grey;
  position: relative;
  z-index: 3;
}

.welcome {
  margin-top: 50px;
  color: white;
  font-family: "arial";
}
